
<div class="card ">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <button class="btn btn-warning form-control" (click)="calculate()"><b>Calcular <i>adición</i> </b></button>
      </div>
      <div class="col-lg-8">
        <h4><b>RESULTADO:</b></h4>
        <h2>{{result}}</h2>
      </div>
    </div>
  </div>
</div>
