<div class="card ">
  <div class="card-body">
    <ngb-alert *ngIf="isReciproco" [dismissible]="false" class="d-block mt-3" type="success">
      Podemos decir que {{values.valueA}} Ø {{values.valueB}} = {{values.valueA}} Ⓧ {{values.valueB}}<sup>-1</sup>
      y el reciproco de {{values.valueB}} es {{reciproco}}
     </ngb-alert>
    <div class="row">
      <div class="col-lg-4">
        <button class="btn btn-danger form-control" (click)="calculateDivision()"><b>Calcular <i>división</i> </b></button>
      </div>
      <div class="col-lg-8 contents">
        <h4><b>RESULTADO:</b></h4>
        <h2>{{result}}</h2>
      </div>
    </div>
  </div>
</div>
