<div class="card">
  <div class="bg-deg card-header">
    <h2 class="text-center text-white">Operaciones Modulares</h2>

  </div>
  <div class="card-body">
    <!--Se Agrega seccion de valores-->
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title text-center mt-600">Ingreso de valores</h5>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label for="EnterOne">Entrada A</label>
              <input type="number" id="EnterOne" min="1" pattern="^[0-9]+" class="form-control" name="EnterOne"
               [(ngModel)]="values.valueA" #valueA="ngModel"  >
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="EnterTwo">Entrada B</label>
              <input type="number" id="EnterTwo" min="1" pattern="^[0-9]+" class="form-control" name="EnterTwo"
              [(ngModel)]="values.valueB" #valueB="ngModel">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="EnterN">Entrada N</label>
              <input id="EnterN" min="1" pattern="^[0-9]+" class="form-control" type="number" name="EnterN"
              [(ngModel)]="values.valueN" #valueN="ngModel" >
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <br>
              <button (click)="validateValues(values)" class="form-control btn btn-info w-50"><b>Enviar</b></button>
            </div>
          </div>

        </div>
        <div class="row mt-5 text-danger">
          <div class="col-4" *ngIf="arePositive || inTheRange">
            <b>ERROR:</b>
            <ul>
              <li *ngIf="arePositive">Los números ingresados deben ser positivos</li>
              <li *ngIf="inTheRange">Las entradas A y B deben pertenecer al rango de 0 a N-1</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Se Agrega seccion de valores-->

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-5">
      <li [ngbNavItem]="1" [disabled]="arePositive && inTheRange">
        <a class="a-warning text-black" ngbNavLink>Adicion Modular</a>
        <ng-template ngbNavContent>
          <app-adicion-modular [values]="values"></app-adicion-modular>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" [disabled]="arePositive && inTheRange">
        <a class="a-primary text-white" ngbNavLink>Multiplicacion Modular</a>
        <ng-template ngbNavContent>
          <app-multiplicacion-modular [values]="values"></app-multiplicacion-modular>
        </ng-template>
      </li>
      <li [ngbNavItem]="3" [disabled]="arePositive && inTheRange">
        <a class="a-success text-white" ngbNavLink>Sustraccion Modular</a>
        <ng-template ngbNavContent>
          <app-sustraccion-modular [values]="values"></app-sustraccion-modular>
        </ng-template>
      </li>
      <li [ngbNavItem]="4" [disabled]="arePositive && inTheRange">
        <a class="a-danger text-white" ngbNavLink>Division Modular</a>
        <ng-template ngbNavContent>
          <app-division-modular-component [values]="values"></app-division-modular-component>
        </ng-template>
      </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</div>
