

.a-warning{
    background-color: #ffc107;
    border-color: #ffc107;
}

.a-primary{
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.a-success {
    background-color: #198754;
    border-color: #198754;
}

.a-danger {
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}

.active {
    color: blue !important;
}

.bg-deg{
    background: rgba(6,47,107,1);
    border-style: solid;
    border-width: medium;
    border-color: rgb(0,104,255);
    box-shadow: inset 0 0 12px 2px rgb(0 104 255);
}

.text-danger{
    color: red;
    text-shadow: 0px 1px 1px #460808;
}