/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.mt-100{
    font-weight: 100;
}
.mt-200{
    font-weight: 200;
}
.mt-300{
    font-weight: 300;
}
.mt-400{
    font-weight: 400;
}
.mt-500{
    font-weight: 500;
}
.mt-600{
    font-weight: 600;
}
.mt-700{
    font-weight: 700;
}

.contents{
    display: contents !important;
}